#footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  /* background: radial-gradient(
    ellipse at bottom,
    var(--color-cobalt) 15%,
    var(--color-orange) 20%
  ); */
  background: linear-gradient(
    to top,
    var(--color-cobalt) 18%,
    var(--color-rocky) 40%
  );
}

#footer-container h1 {
  margin: 1em;
  font-weight: 600;
  color: var(--color-orange);
}
