#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  background: radial-gradient(
    circle at top,
    var(--color-orange) 15%,
    var(--color-rocky) 20%
  );
}

#header-container h1 {
  margin: 1em;
  font-weight: 600;
  color: var(--color-cobalt);
}

#main-navigation {
  padding: 2rem 15%;
  display: flex;
  justify-content: center;
  /* background-color: var(--color-purple); */
}

#main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.nav-item a {
  text-decoration: none;
  font-weight: 400;
  color: var(--color-cobalt);
}

.nav-item a:hover,
.nav-item a.active {
  text-decoration: underline;
  font-weight: 600;
}