@tailwind base;
@tailwind components;
@tailwind utilities;

/* quicksand-300 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/quicksand-v30-latin_latin-ext-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/quicksand-v30-latin_latin-ext-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* quicksand-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/quicksand-v30-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/quicksand-v30-latin_latin-ext-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* quicksand-600 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/quicksand-v30-latin_latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/quicksand-v30-latin_latin-ext-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@layer components {
  .circular-path-container {
    display: flex;
    align-items: center;
    justify-content: center;
    --m: 12;
    --tan: 0.41;
    --d: 3em; /* image size */
    --rel: 1.6; /* how much extra space we want between images, 1 = one image size */
    --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan)); /* circle radius */
    --s: calc(2*var(--r) + var(--d)); /* container size */
    position: relative;
    width: var(--s);
    height: var(--s);
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .circular-path-container-md  {
      --d: 4.2em;
    }
  }

  .circular-path-container a {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: calc(-.5*var(--d));
    width: var(--d);
    height: var(--d);
    --az: calc(var(--i)*1turn/var(--m));
    transform: 
      rotate(var(--az))
      translate(var(--r))
      rotate(calc(-1*var(--az)))
  }
      
  .circular-path-img {
    max-width: 100%;
  }
  
  .nav-item a:hover,
  .nav-item-active {
    text-decoration: underline;
    text-decoration-style: wavy;
    font-weight: 600;
  }
}
